/* Home Page */
.form {
  background: #ffffff;
  padding: 2rem;
  position: absolute;
  right: 6rem;
  top: 8rem;
  border-radius: 10px;
  width: 25rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  border: none;
  background: rgb(236, 236, 236);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* About page */

.whyus {
  min-height: 100vh;
}

.whyus .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.whyus .row .image {
  text-align: center;
  flex: 1 1 30rem;
  float: left;
  width: 40%;
}

.whyus .row .image img {
  height: 65vh;
  padding: 3rem 0;
  float: left;
  width: 40%;
}

.whyus .row .boxcontainr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.whyus .row .boxcontainr .box1 {
  margin: 2rem;
  padding: 2rem;
  width: 27rem;
  border-radius: 0.5rem;
}

.whyus .row .boxcontainr .box1 h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--heading-color);
}

.whyus .row .boxcontainr .box1 img {
  width: auto;
  height: 10vh;
}

.whyus .vid {
  width: 100%;
  height: 100%;
}

.inner-banner#about {
  background: url(assets/images/a1.png) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  padding: auto;
  position: relative;
  z-index: 1;
  width: auto;
  min-height: 600px;
}

/* Media queries */
@media (max-width: 750px) {
  .form {
    left: 0;
    margin: 0 1rem;
    width: 90%;
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem !important;
  }
}
